@use '../variables';
@use '../mixins';

.header {
  width: 100%;
  background-color: variables.$app-orange;

  padding: 20px;

  @include mixins.flexbox(row, wrap, space-between, 0);
  position: fixed;
  top: 0;
  z-index: 1000;

  &__user-button {
    height: 24px;
    width: 24px;
    background-image: url('/public/img/svg/user-mobile.svg');
    cursor: pointer;

    margin-left: auto;

    display: inline-block;
  }
}