@use '../variables';
@use '../mixins';

$userSize: 24px;
$logoutWidth: 60px;
$triangleSize: 5px;

.header {
  width: 100%;
  background-color: variables.$app-orange;

  padding: 20px;

  @include mixins.flexbox(row, wrap, space-between, 0);
  position: fixed;
  top: 0;
  z-index: 1000;



  &__user-button {
    height: $userSize;
    width: $userSize;
    background-image: url('/public/img/svg/user-mobile.svg');
    cursor: pointer;

    margin-left: auto;

    display: block;
    position: relative;
  }

  &__user-button:focus>&__logout,
  &__logout:active {
    display: block;
  }

  &__logout {
    width: $logoutWidth;
    background-color: white;
    padding: 8px 0;
    border-radius: 10px;
    color: black;
    cursor: pointer;

    display: none;
    position: absolute;
    left: calc((($logoutWidth / 2) + ($userSize / 2)) - $logoutWidth);
    top: calc($userSize + $triangleSize);

    &:hover {
      color: variables.$app-orange;
    }

    &::after {
      content: '';
      width: 0;
      height: 0;
      border-left: $triangleSize solid transparent;
      border-right: $triangleSize solid transparent;

      border-bottom: $triangleSize solid white;

      position: absolute;
      top: -$triangleSize;
      left: 42%;
    }
  }
}