@use '../mixins';

.login-container {
  width: 100%;
  display: block;

  @include mixins.desktop() {
    width: auto;
  }

}

.login-form {
  width: 300px;

  padding: 40px 0;
  margin: 0 auto;

  display: block;

  @include mixins.desktop() {
    width: auto;
    padding: 0;

    @include mixins.flexbox(row, nowrap, right, 20px);
  }

}